apiVersion: v1
kind: Service
metadata:
  name: mysql-db  # Changed from mysql-service to mysql-db
  namespace: blockchain-app
spec:
  type: ClusterIP
  selector:
    app: mysql
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  clusterIP: None  # Headless service for StatefulSet
