apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: blockchain-app
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
